model:
  image_channels: 3

  lam_model_dim: 768
  lam_latent_dim: 128
  lam_num_latents: 16
  lam_patch_size: 14
  lam_enc_blocks: 12
  lam_dec_blocks: 12
  lam_num_heads: 12

  vq_beta: 0.25
  log_interval: 5000
  log_path: ./logs
  optimizer:
    class_path: torch.optim.AdamW
    init_args:
      lr: 1e-4
      weight_decay: 1e-2

  task_name: task_centric_lam_stage2
  make_data_pair: &make_data_pair false
  stage: stage-2
  stage_one_ckpt: ./logs/task_centric_lam_stage1/epoch=0-step=100000.ckpt
  lam_path: /home/linyihan/linyh/latent-action/latent_action_model/checkpoints/lam-stage-2.ckpt

data:
  data_root_dir: /home/linyihan/linyh/datasets/RoboTwin
  data_mix:
    - aloha_move_playingcard_away    
    - aloha_place_container_plate
    - aloha_move_can_pot
    - aloha_pick_dual_bottles
    - aloha_click_bell
    - aloha_click_alarmclock
    - aloha_dump_bin_bigbin
    - aloha_grab_roller
    - aloha_lift_pot
    - aloha_move_pillbottle_pad
    - aloha_open_laptop
    - aloha_open_microwave
    - aloha_place_a2b_left
    - aloha_place_can_basket                   
  per_device_batch_size: 128
  resize_resolution: 224
  shuffle_buffer_size: 100
  image_aug: true
  goal_image_step: 32

trainer:
  max_epochs: 10
  accelerator: gpu
  num_nodes: 1
  devices: 2
  strategy: ddp_find_unused_parameters_false
  precision: 16-mixed
  log_every_n_steps: 1000
  gradient_clip_val: 0.1

  callbacks:
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        dirpath: ./logs/robotwin_lam_stage2
        verbose: true
        save_last: true
        save_top_k: -1
        every_n_train_steps: 20000

  logger:
    - class_path: lightning.pytorch.loggers.TensorBoardLogger
      init_args:
        save_dir: ./logs
        name: robotwin_lam_stage2